attr==0.3.2
blinker==1.9.0
bpython==0.25
brotli==1.1.0
brotlicffi==1.1.0.0
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
coreschema==0.0.4
cx_Oracle==8.3.0
docutils==0.21.2
fido2==1.2.0
filelock==3.18.0
h2==4.2.0
HTMLParser==0.0.2
httplib2==0.22.0
httpretty==1.1.4
inflection==0.5.1
ipdb==0.13.13
ipython==9.0.2
ipywidgets==8.1.5
jnius==1.1.0
jose==1.0.0
keyring==25.6.0
Markdown==3.7
MySQL-python==1.2.5
numpy==2.2.4
olefile==0.47
onelogin==3.1.6
oracledb==3.0.0
psycopg==3.2.6
psycopg2==2.9.10
psycopg2cffi==2.9.0
psycopg_pool==3.2.6
pycryptodome==3.22.0
pycurl==7.45.3
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==24.3.0
pyOpenSSL==25.0.0
PyQt6==6.8.1
PySide6==6.8.2.1
PySide6.egg==info
pytest==8.3.4
pytest_django==4.10.0
python_bcrypt==0.3.2
pytz==2024.2
pywatchman==2.0.0
qrcode==8.0
responses==0.25.7
setuptools==75.2.0
simplejson==3.20.1
Sphinx==8.2.3
tblib==3.0.0
thread==2.0.5
uritemplate==4.1.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0
