.footer {
  background-color: rgba(229, 238, 235, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px 48px;
}

@media (max-width: 991px) {
  .footer {
    padding: 0 20px;
  }
}

.topSection {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px 48px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .topSection {
    max-width: 100%;
  }
}

.logo {
  aspect-ratio: 1.05;
  object-fit: contain;
  object-position: center;
  width: 164px;
  align-self: stretch;
  margin: auto 0;
}

.navigation {
  --Primary: #0f161e;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  align-items: center;
  gap: 24px;
  color: var(--Primary, #0f161e);
  white-space: nowrap;
  justify-content: center;
  margin: auto 0;
  font: 500 16px IBM Plex Mono, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .navigation {
    white-space: initial;
  }
}

.navButtonsContainer {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: start;
  margin: auto 0;
}

@media (max-width: 991px) {
  .navButtonsContainer {
    white-space: initial;
  }
}

.navButton {
  border-radius: 40px;
  align-self: stretch;
  display: flex;
  min-height: 48px;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin: auto 0;
  padding: 12px 8px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

@media (max-width: 991px) {
  .navButton {
    white-space: initial;
  }
}

.socialLinksContainer {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

@media (max-width: 991px) {
  .socialLinksContainer {
    max-width: 100%;
  }
}

.socialIcon {
  align-self: stretch;
  display: flex;
  width: 24px;
  height: 24px;
  margin: auto 0;
}

.socialIconImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.copyrightText {
  align-self: center;
  margin-top: 48px;
  width: 234px;
  max-width: 100%;
  color: var(--Primary, #0f161e);
  font: 500 14px/1 IBM Plex Mono, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .copyrightText {
    margin-top: 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}