:root {
  --accent-mint-100: rgba(242, 254, 252, 1);
  --accent-mint-200: rgba(204, 250, 244, 1);
  --button-l-font-family: "Roboto", Helvetica;
  --button-l-font-size: 20px;
  --button-l-font-style: normal;
  --button-l-font-weight: 400;
  --button-l-letter-spacing: 0.5px;
  --button-l-line-height: 100%;
  --colorsneutralblack: rgba(19, 19, 19, 1);
  --colorsneutralwhite: rgba(255, 255, 255, 1);
  --coolgray-20: rgba(221, 225, 230, 1);
  --coolgray-30: rgba(193, 199, 205, 1);
  --coolgray-40: rgba(162, 169, 176, 1);
  --coolgray-60: rgba(105, 112, 119, 1);
  --coolgray-90: rgba(33, 39, 42, 1);
  --defaultalert: rgba(218, 30, 40, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --heading-1-font-family: "Roboto", Helvetica;
  --heading-1-font-size: 54px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 400;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 110%;
  --other-caption-font-family: "Roboto", Helvetica;
  --other-caption-font-size: 20px;
  --other-caption-font-style: normal;
  --other-caption-font-weight: 700;
  --other-caption-letter-spacing: 1px;
  --other-caption-line-height: 100%;
  --primary: rgba(15, 22, 30, 1);
  --primary-60: rgba(15, 98, 254, 1);
  --primary-90: rgba(0, 29, 108, 1);
  --small-font-family: "Roboto", Helvetica;
  --small-font-size: 12px;
  --small-font-style: normal;
  --small-font-weight: 400;
  --small-letter-spacing: 0px;
  --small-line-height: 16px;
  --web-ios-level-3:
    0px 0px 2px 0px rgba(79, 94, 113, 0.12), 0px 2px 4px 0px rgba(
      79,
      94,
      113,
      0.11
    ), 0px 4px 8px 0px rgba(79, 94, 113, 0.1), 0px 8px 16px 0px rgba(
      79,
      94,
      113,
      0.09
    ), 0px 16px 32px 0px rgba(79, 94, 113, 0.08);
  --white: rgba(255, 255, 255, 1);
}