.landing-page-COM {
  background-color: #f3f9f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page-COM .landing-page-v-COM {
  background-color: #f3f9f7;
  height: 2600px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.landing-page-COM .overlap {
  height: 1111px;
  left: -960px;
  position: absolute;
  top: -1300px;
  width: 1920px;
}

.landing-page-COM .mask {
  height: 996px;
  left: 0;
  position: absolute;
  top: 115px;
  width: 1920px;
}

.landing-page-COM .logo-transparent {
  height: 132px;
  left: 860px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 164px;
}

.landing-page-COM .transhumans-new {
  height: 686px;
  left: 1006px;
  object-fit: cover;
  position: absolute;
  top: 338px;
  width: 786px;
}

.landing-page-COM .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 33px;
  left: -3px;
  position: absolute;
  top: 0;
  width: 1923px;
}

.landing-page-COM .header-light-left {
  align-self: stretch;
  height: 99px;
  position: relative;
  width: 100%;
}

.landing-page-COM .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 52px;
  left: 100px;
  position: absolute;
  top: 29px;
}

.landing-page-COM .text-wrapper {
  color: #000000;
  font-family: "IBM Plex Mono-ExtraLightItalic", Helvetica;
  font-size: 96px;
  font-style: italic;
  font-weight: 200;
  left: 216px;
  letter-spacing: 0;
  line-height: 118.8px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
  width: 644px;
}

.landing-page-COM .footer {
  align-items: center;
  background-color: #08120e0d;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  left: 0;
  padding: 24px 80px 48px;
  position: absolute;
  top: 2304px;
  width: 1920px;
}

.landing-page-COM .top {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.landing-page-COM .img {
  height: 156px;
  object-fit: cover;
  position: relative;
  width: 164px;
}

.landing-page-COM .menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  height: 48px;
  justify-content: center;
  position: relative;
}

.landing-page-COM .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.landing-page-COM .frame-3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  justify-content: flex-end;
  position: relative;
}

.landing-page-COM .github-seeklogo {
  height: 19.46px;
  object-fit: cover;
  position: relative;
  width: 20px;
}

.landing-page-COM .greelogix-all {
  height: 20px;
  position: relative;
  width: 234px;
}

.landing-page-COM .greelogix-x-all {
  color: var(--primary);
  font-family: "IBM Plex Mono-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.landing-page-COM .overlap-group {
  height: 1011px;
  left: -29px;
  position: absolute;
  top: 1078px;
  width: 1961px;
}

.landing-page-COM .BG {
  height: 612px;
  left: 6px;
  position: absolute;
  top: 13px;
  transform: rotate(-0.78deg);
  width: 1947px;
}

.landing-page-COM .overlap-group-2 {
  height: 664px;
  left: 19px;
  position: relative;
  top: -26px;
  width: 1929px;
}

.landing-page-COM .combined-shape-copy {
  height: 589px;
  left: 4px;
  position: absolute;
  top: 38px;
  transform: rotate(0.78deg);
  width: 1920px;
}

.landing-page-COM .object {
  height: 638px;
  left: 4px;
  position: absolute;
  top: 13px;
  transform: rotate(0.78deg);
  width: 1920px;
}

.landing-page-COM .intro {
  color: #ffffff;
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 934px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 754px;
  width: 590px;
}

.landing-page-COM .section {
  align-items: center;
  display: flex;
  gap: 80px;
  height: 851px;
  left: 0;
  padding: 80px;
  position: absolute;
  top: 160px;
  width: 1961px;
}

.landing-page-COM .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 64px;
  padding: 32px 0px;
  position: relative;
}

.landing-page-COM .section-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
  width: 100%;
}

.landing-page-COM .top-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.landing-page-COM .secondary-headline {
  align-self: stretch;
  color: var(--coolgray-90);
  font-family: "IBM Plex Mono-LightItalic", Helvetica;
  font-size: 64px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 70.4px;
  margin-top: -1.00px;
  position: relative;
}

.landing-page-COM .paragraph {
  align-self: stretch;
  color: var(--coolgray-90);
  font-family: "IBM Plex Mono-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 44.8px;
  position: relative;
}

.landing-page-COM .screen-desktop {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--defaultwhite);
  border: 1px solid;
  border-color: #c1c7cd;
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.landing-page-COM .top-bar {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 43px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.landing-page-COM .circles {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 5px;
  position: relative;
}

.landing-page-COM .arrows {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 5px;
  justify-content: flex-end;
  position: relative;
}

.landing-page-COM .placeholder-picture {
  align-self: stretch;
  background-image: url(./picture.svg);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.landing-page-COM .overlap-wrapper {
  height: 82px;
  left: 787px;
  position: absolute;
  top: 2126px;
  width: 390px;
}

.landing-page-COM .overlap-2 {
  height: 56px;
  position: relative;
  top: -1px;
}

.landing-page-COM .secondary-headline-2 {
  color: var(--coolgray-90);
  font-family: "IBM Plex Mono-LightItalic", Helvetica;
  font-size: 48px;
  font-style: italic;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 52.8px;
  position: absolute;
  top: 0;
  width: 390px;
}

.landing-page-COM .div-2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgb(92, 186, 154) 50%
  );
  height: 21px;
  left: 7px;
  opacity: 0.3;
  position: absolute;
  top: 35px;
  width: 338px;
}