.button {
  color: #131313;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
  font: italic 700 16px "IBM Plex Mono", monospace;
}

.signIn {
  background-color: rgba(159, 186, 214, 0.3);
}

.signUp {
  background-color: #5cba9a;
  color: #000000;
}