.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 100px;
  width: 100%;
}

@media (max-width: 991px) {
  .header {
    padding: 24px 40px;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 24px 20px;
    flex-wrap: wrap;
  }
}

.logo {
  color: #131313;
  padding: 10px 0;
  font: italic 400 16px "IBM Plex Mono", monospace;
}

.authButtons {
  display: flex;
  gap: 58px;
  align-items: center;
}

@media (max-width: 991px) {
  .authButtons {
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .authButtons {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
}