.condition {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 184px;
}

.condition .circle {
  border: 1px solid;
  border-color: #9d9aa4;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
  transition: all 0.3s ease;
}

.condition .circle-done {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.condition .element-characters-minimum {
  color: #4c4a53;
  flex: 1;
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  margin-top: -1.00px;
  position: relative;
}
